.wrapper
  .header
    .title
      = link_to parks_path (@park), class: "indexLink"  do
        ParkApp
  .contents
    .content
      .park
        .sign
          駐輪番号
        .park__number
          = @park.number
      .check
        = link_to  park_path (@park) do
          料金を確認する 
      .new-button
        = link_to new_park_path do
          駐輪し直す   