.wrapper
  .header
    .title
      = link_to parks_path (@park), class: "indexLink"  do
        ParkApp
  .contents
    = form_for @park, local: true  do |f|
      .sign
        駐輪番号を入力して下さい
      .number
        = f.number_field :number
      .send_button
        = f.submit "保存する"
