.wrapper{
  background-color: rgb(245, 245, 245);
  height: 800px;
  width: 100%;
}
.contents{
  height: 100%;
  width: 100%;
}
.number{
  margin: 0px auto;
  width: 650px;
  height: 30%;
  background-color: red;
}
.price{
  margin: 50px auto;
  width: 650px;
  height: 20%;
  background-color:white;
}